h1 {
    font: 700 45px/50px "Inter", sans-serif;
    color: #717171;
}
h1 span {
    color: #499A18;
}
h2 {
    font: 400 40px/52.12px "Inika", sans-serif;
    color: #499A18;
}
h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 10px 0;
}
.orangeh2 {
    color: #E06733;
}
a {
    color: #010201;
    text-decoration: none;
}
header a:hover {
    color: #E06733;
}
html {
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: #EDF2EC;
    font: 400 20px/35px "Inter", sans-serif;
    color: #636060;
    max-width: 1440px;
}
header {
    color: #010201;
    font: 400 16px/50px "Inika", sans-serif;
    width: 85%;
    margin: auto;
}
main {
    margin: auto;
}
footer {
    background-color: #ffffff;
    color: #010201;
    margin: 0 7.5%;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    justify-content: space-between;
    margin: 42px auto;
    list-style-type: none;
    padding-left: 0%;
}
.menu {
    display: flex;
    justify-content: space-around;
}
.menu li {
    margin-left: 50px;
}
.section {
    background-color: #EDF2EC;
}
#white {
    background-color: #ffffff;
}
.home {
    margin: 90px 7.5% 62.64px 7.5%;
    display: flex;
    justify-content: space-between;
}
.hometext {
    width: 549px;
}
.about {
    margin: auto 7.5%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 93px 0 80px 0;
}
.abouttext {
    width: 605px;
    margin-top: 32px;
}
.abouttext h2 {
    width: 500px;
}
.about p {
    line-height: 30px;
}
.service {
    width: 85%;
    margin: auto 7.5%;
}
.servicetitleandbuttons {
    display: flex;
    justify-content: baseline;
    margin: 40px auto 80px auto;
}
.servicetitleandbuttons h2 {
    width: 306px;
    margin: 0px 142px 0px 0px;
}
.servicebuttonspanel {
    justify-content: space-between;
    margin: 0 -16px;
}
.allservices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 55px;
    margin-bottom: 121px;
}
.servicecard p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto 36px auto;
    color: #717171;
}
.servicecardimg {
    display: block;
    margin: 0;
}
.servicecardinfo {
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    height: 100px;
    box-sizing: border-box;
    width: 330px;
}
.price {
    display: flex;
    justify-content: space-between;
    margin: auto 7.5%;
    background-color: #ffffff;
    padding-bottom: 117px;
}
.price h2 {
    font: 700 40px/48px "Inter", sans-serif;
    color: #000000;
    margin-bottom: 66px;
}
.price p {
    font: 700 40px/48px "Inter", sans-serif;
    color: #000000;
}
.pricecontent {
    width: 452px;
    text-align: right;
}
.pricecontent span {
    color: #499A18
}
.priceplans {
    width: 332px;
    padding: 34px auto;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}
.priceradio {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 50px;
    margin: 32px auto;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #EDF2EC;
}
.priceradio span {
    font: 700 20px/20px "Inter", sans-serif;
    color: #000000;
    margin: auto;
}
.priceradio img {
    width: 16px;
    height: 16px;
    margin: auto;
}
#pricesleaf {
    width: 152px;
    height: 175px;
    display: block;
    margin-left: auto;
    margin-top: 39px;
}
.contacts {
    padding-top: 30px;
    width: 85%;
    margin: auto 7.5%;
    display: flex;
    justify-content: space-between;
}
.contacts h2 {
    font: 700 40px/52px "Inika", sans-serif;
    text-align: center;
}
.contactwoman {
    padding-top: 23px;
}
.cityform {
    display: flex;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #717171;
    padding: 0 35px 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 119px;
}
.cityform span {
    font: 400 20px/50px "Inter", sans-serif;
    letter-spacing: 0.05em;
}
.cityform img {
    width: 16px;
    height: 16px;
    margin: auto 0;
}
.footernavbar {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    list-style-type: none;
    margin: 0;
    height: 130px;
    padding: 0;
}
.footernavbar li {
    margin: auto 0;
}
.footernavbar a {
    color: #000000;
}
.footercontent {
    width: 188px;
}
.footernavbar .footercontent {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}
.button {
    width: 158px;
    height: 44px;
    font: 400 16px/20px "Inter", sans-serif;
    border: #E06733 2px solid;
    border-radius: 10px;
    color: #E06733;
    background-color: #EDF2EC;
}
#aboutusbutton {
    color: #010201;
    margin-top: 30px;
}
#servicebutton {
    border: 1px solid #E06733;
    border-radius: 5px;
    height: 50px;
    margin: 30px 16px 0 16px;
    width: 161px;
    font: 400 20px/26.06px "Inika", sans-serif;
}
#pricebutton {
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #ffffff;
    font: 700 20px/26px "Inika", sans-serif;
}